[loggers]
keys=root,cli,parser,utils,main,keystone,stevedore,requests

[handlers]
keys=fileHandler,consoleHandler

[formatters]
keys=simpleFormatter

[logger_root]
level=DEBUG
handlers=fileHandler

[logger_keystone]
level=DEBUG
handlers=consoleHandler
qualname=keystoneclient
propagate=0

[logger_requests]
level=DEBUG
handlers=consoleHandler
qualname=requests
propagate=0

[logger_stevedore]
level=DEBUG
handlers=consoleHandler
qualname=stevedore
propagate=0

[logger_cli]
level=DEBUG
handlers=fileHandler
qualname=contrail_api_cli
propagate=0

[logger_main]
level=INFO
handlers=fileHandler
qualname=contrail_api_cli.main
propagate=0

[logger_parser]
level=INFO
handlers=fileHandler
qualname=contrail_api_cli.parser
propagate=0

[logger_utils]
level=INFO
handlers=fileHandler
qualname=contrail_api_cli.utils
propagate=0

[handler_consoleHandler]
class=StreamHandler
formatter=simpleFormatter
args=(sys.stdout,)

[handler_fileHandler]
class=FileHandler
formatter=simpleFormatter
args=('/tmp/contrail-api-cli.log',)

[formatter_simpleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=
