Source: contrail-api-cli
Maintainer: Filip Pytloun <filip@pytloun.cz>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9),
 python-mock, dh-python, python-pathlib, python-prompt-toolkit (>= 0.53),
 python-keystoneauth1, python-gevent, python-datrie
Standards-Version: 3.9.6
Homepage: https://github.com/eonpatapon/contrail-api-cli
X-Python-Version: >= 2.7

Package: contrail-api-cli
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-keystoneauth1,
 python-prompt-toolkit (>= 0.53), python-pathlib, python-tz, python-netifaces,
 python-gevent, python-datrie
Description: Simple CLI program to browse Contrail API server
 Run ``contrail-api-cli`` to start the cli. Use the ``-h`` option to see all
 supported options. By default it will try to connect to ``localhost`` on port
 ``8082`` with no authentication.
